@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(30, 30, 30);
}




.logo{
    font-size: 45px;
}




#home-sec{
    min-height: 98vh;
    padding: 0 70px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 760px){
  .home-sec-main-div{
    width: 40%;
  }
}

#home-sec h1{
    font-size: 70px;
    color: rgb(190, 190, 190);
    margin-top: 50px;
}
#home-sec p{
    color: grey;
    font-size: 25px;
}
#home-sec article{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  /* ----- */
  
  @media screen and (max-width: 1000px){
    #home-sec h1{
      font-size: 50px;
    }
    .arrow-img-div{
      width: 200px !important;
    }
  }


  @media screen and (max-width: 760px){
    .arrow-img-div{
      display: none;
    }
    .arrow-img{
      display: none;
    }
    #home-sec h1{
      width: 100%;
    }
  }
  

@media screen and (min-width: 760px){
  #home-sec{
    margin-top: 50px;
}
}
  
  
  
::-webkit-scrollbar{
    width: 0;
}





/* burger menu */

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: fixed;
  padding: 10px 20px;
  z-index: 999;
  background-color: rgba(30, 30, 30, 0.5);
}
.logo{
  z-index: 9999;
}
.logo img {
  width: 35px;
  margin-right: 5px;
}


.logo a{
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}
.logo a span{
  color: transparent;
  -webkit-text-stroke: 1px #d15c04;

}
.menu{
  align-items: center;
}

.menu li a{
  font-size: 30px;
  margin: 0 15px;
}



.active-li {
  position: relative;
  transition: border-color 0.3s ease;
}

.active-li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
}

.active-li:hover::before {
  width: 100%;
  background-color: #868686;
}


.menu {
  display: flex;
}



.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  z-index: 999;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
.menu li a{
  color: #bbbbbb;
}


@media(max-width: 1150px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      transition: all 0.2s ease-in-out;
      backdrop-filter: blur(15px);
      background-color: #0000007b;
  }
  .menu li {margin-top: 40px; padding-bottom: 10px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}






header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 99999;
}

header.hidden {
  top: -100px;
}






/* About */

#about{
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0 0 30px black;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 180px 0;
}

.profile-img{
  text-align: center;
}

.profile-img img{
  width: 90%;
  height: auto;
}

@media screen and (min-width: 1160px){
  .about-me{
    width: 40%;
  }
}

.about-me{
  margin: 0 25px;
}


.about-me h1{
  font-size: 50px;
  -webkit-text-stroke: 0.5px rgb(171, 171, 171);
  color: transparent;
}
.about-me p{
  font-size: 30px;
  color: rgb(171, 171, 171);
}




/* skills */

.title{
  font-size: 50px;
  text-align: center;
  color: #cccccc;
  padding: 80px 0 20px 0;
}


#skills {
  padding: 80px 0;
  background-color: rgba(30, 30, 30);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  overflow: hidden;
}

.skill-icon img {
  width: 120px;
  padding: 15px;
  border-radius: 20px;
  background-color: #4b4b4b;
  z-index: 20;
}

.skill-icon span {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(30, 30, 30);
  transform: translateY(-40px);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.skill-icon:hover span {
  transform: translateY(4px);
  color: #c6c6c6; 
}


@media screen and (min-width: 900px){
  #skills{
    padding: 0 300px;
  }
}

@media screen and (max-width:500px){
  .skill-icon span{
    font-size: 15px;
  }
  .skill-icon img{
    width: 90px;
  }
}



/* projects */

 #projects {
  text-align: center;
  padding: 20px;
  box-shadow: inset 0 0 30px black;
}

.title {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 0.5px rgb(120, 120, 120);
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  gap: 50px;
}

.project {
  width: 400px;
  background-color: #3b3b3b;
  border-radius: 20px;
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.1);
  padding-bottom:20px;
  text-align: center;
  transition: 1s;
}

.project:hover{
  background-color: rgb(92, 92, 92);
  transform: scale(1.01);
}

.project article{
  padding: 0 20px;
}

.gif-div {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.gif-div img {
  width: 100%;
  height: auto;
}

.description-div h1 {
  font-size: 45px;
  color: rgb(0, 0, 0);
  margin: 10px 0;
}

.description-div p {
  font-size: 20px;
  color: #fefefe;
}

.view-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view-div div {
  padding: 10px 20px;
  background-color: #1d1d1d;
  color: rgb(184, 184, 184);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.view-div div:hover {
  background-color: #000000;
}

.project-tool-icons{
  margin: 10px;
}

.project-tool-icons img{
  width: 40px;
  margin: 0 5px;
}



/* contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side {
  flex: 1;
  padding:0 50px;
  text-align: center;
  background-color: rgb(23, 23, 23);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-side h1{
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px rgb(156, 156, 156);
  text-align: left;
}
.left-side p{
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 0.5px rgb(184, 184, 184);
  text-align: left;
}

.right-side {
  flex: 1;
  background-color: rgb(71, 71, 71);
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side h1{
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.message-div {
  text-align: center;
  width: 70%;
}

.message-div button{
  width: 100%;
  height: 60px;
  font-size: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #2b2b2b;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.message-div button:hover{
  background-color: #585858;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1f1f1f;
  outline: none;
  font-size: 20px;
  transition: 0.5s;
}

input:focus,
textarea:focus{
  background-color: #3b3b3b;
  border: 2px solid black;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.info-icons{
  text-align: left;
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.info-icons a{
  background-color: rgb(117, 117, 117);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 100%;
}
.info-icons a:hover{
  background-color: rgb(200, 200, 200);
}
.info-icons a img{
  width: 45px;
}



@media screen and (max-width:900px){
  #contact{
    flex-direction: column;
    height: 200vh;
    overflow: hidden;
  }
  .right-side{
    height: 150vh;
    width: 100%;
  }
  footer{
    font-size: 10px;
  }
}

@media screen and (max-width:500px){
  .left-side h1{
    font-size: 45px;
  }
  .left-side p{
    font-size: 25px;
  }
  .info-icons a img{
    width: 25px;
  }

  .right-side .message-div h1{
    font-size: 45px;
  }
}
@media screen and (max-width:400px){
  .left-side h1{
    font-size: 40px;
  }
  .left-side p{
    font-size: 20px;
  }
  .info-icons a img{
    width: 20px;
  }

  .right-side .message-div h1{
    font-size: 40px;
  }
}





/* footer */


footer{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 175, 175);
  font-size: 15px;
  padding: 10px;
}